* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Gilroy";
}

.main-container {
  width: 100%;
  height: 100%;
  margin-left: 100px;
  /* margin-right: 50px; */
  display: flex;
  position: fixed;
}

/* Left Container */

.navbar {
  width: 30%;
  height: 100%;
  justify-items: center;
  line-height: 1.5rem;
  background-color: rgb(179, 222, 236);
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar ul {
  margin-top: 15px;
}

.navbar ul li a {
  color: rgb(61, 58, 58);
  text-decoration: none;
}

.navbar ul li {
  line-height: 2rem;
  font-size: 16px;
  color: rgb(61, 58, 58);
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgb(17, 81, 199);
  text-decoration-thickness: 1.5px;
}

.navbar ul li a:active {
  text-decoration: underline;
  text-decoration-color: rgb(17, 81, 199);
  text-decoration-thickness: 1.5px;
  color: rgb(17, 81, 199);
}

.navbar ul li a:visited {
  color: rgb(61, 58, 58);
}

.profilepic {
  height: auto;
  width: 250px;
  mix-blend-mode: multiply;
}
.headingss {
  line-height: 2rem;
  justify-items: center;
}

.headingss:hover {
  cursor: pointer;
}

.username {
  font-size: 38px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sub-heading {
  color: rgb(56, 54, 54);
}

/* Right Container */

.right-container {
  width: 85%;
  height: 100%;
  margin-right: 23vh;
  margin-left: 3vh;
  overflow: scroll;
  overflow-x: hidden;
  /* background-color: rgb(201, 236, 248); */
}

.s1-title {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.my-intro {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  justify-content: center;
  width: 30rem;
  line-height: 1.5rem;
  color: rgb(30, 32, 32);
}

.cv-download {
  font-size: 16px;
  background-color: #1df187;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  width: auto;
  height: 35px;
  border-radius: 5px;
  border: 1px;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  gap: 5px;
  display: flex;
}
.view-portfolio {
  font-size: 16px;
  background-color: #457dd2;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  width: auto;
  height: 35px;
  border-radius: 5px;
  border: black 1px solid;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  gap: 5px;
  display: flex;
}

.cv-download img {
  height: 20px;
  width: 20px;
}

/* Slider css */


.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


input[type="radio"] {
  display: none;
}


.slides {
  display: flex;
  width: 200%; 
  transition: transform 0.5s ease-in;
}


.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-left: 30px;
  padding-top: 30vh;
  line-height: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 24px;
  background-size: cover;
  background-position: center;
  position: relative;
}


#first-slide {
  background-image: url("./assets/bg-s1.jpg");
}

#second-slide {
  background-image: url("./assets/s2bg.avif");
}


#slide1:checked ~ .slides {
  transform: translateY(0); 
}

#slide2:checked ~ .slides {
  transform: translate(-50%); 
}


.radio-buttons {
  position: absolute;
  bottom: 50px;
  left: 5%;
  transform: translateX(-50%);
  display: grid;
  gap: 10px;
}


.radio-buttons label {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}


#slide1:checked ~ .radio-buttons label:nth-child(1),
#slide2:checked ~ .radio-buttons label:nth-child(2) {
  background: #7a899a;
}


.switch-button {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#first-slide .switch-button {
  right: 20px; 
}

#second-slide .switch-button {
  left: 20px; 
}

/* Section 2 */

.section2 {
  position: relative;
  width: 100%;
  height: 150vh;
  background-color: #ffffff;
}

.section2-content {
  padding-top: 150px;
  padding-left: 30px;
}

.s2-title {
  font-size: 14px;
  color: #626f80;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.s2-subtitle {
  font-size: 18px;
  margin-top: 15px;
  letter-spacing: 3px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
}

.p2-introduction {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-right: 25px;
}

.p2-introduction p {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  color: rgb(78, 72, 72);
  text-align: justify;
  text-justify: inter-word;
}

.card-container {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  position: absolute;
  align-items: center;
  gap: 40px;
}

.cards {
  padding-left: 10px;
  background-color: #fcfcfc;
  height: 160px;
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  border: 1px rgb(228, 220, 220) solid;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(27, 27, 27);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cards img {
  height: 35px;
  width: 35px;
}

.card1 {
  border-bottom: 2px rgb(8, 41, 187) solid;
}

.card2 {
  border-bottom: 2px rgb(202, 24, 0) solid;
}

.card3 {
  border-bottom: 2px rgb(193, 214, 0) solid;
}

.card4 {
  border-bottom: 2px rgb(168, 0, 219) solid;
}

.s2-banner {
  height: 200px;
  width: 118vh;
  line-height: 3rem;
  margin-top: 40vh;
  margin-left: 30px;
  background-color: rgb(231, 176, 55);
}

.s2-banner p {
  padding-top: 40px;
  padding-left: 35px;
  font-size: 28px;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* padding-left: 50px; */
}

.s2-banner button {
  margin-top: 15px;
  margin-left: 35px;
  font-size: 14px;
  color: rgb(31, 30, 30);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 25px;
  width: 60px;
  background-color: inherit;
  border-radius: 2px;
  border: 1px solid;
}

/* Section 3 */

.section3 {
  position: relative;
  width: 100%;
  height: 150vh;
  background-color: #ffffff;
  margin-left: 5vh;
}

.section3-content {
  padding-top: 40px;
  padding-left: 30px;
}

.s3-heading {
  font-size: 12px;
  color: #aab1bb;
  font-weight: 300;
  letter-spacing: 5px;
  font-family: "Times New Roman", Times, serif;
}

.s3-subheading {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 5px;
  font-family: monospace;
  font-weight: bolder;
}

.s3-card-container {
  height: fit-content;
  width: fit-content;
  margin-top: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  row-gap: 5vh;
}

.s3-cards {
  background-color: #fcfcfc;
  height: 40vh;
  width: 35vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border: 1px rgb(228, 220, 220) solid;
  font-size: 16px;
  font-weight: 500;
  color: rgb(27, 27, 27);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.s3-cards h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

.s3-cards p {
  padding-top: 2vh;
  font-size: 18px;
  font-weight: 100;
  color: rgb(151, 141, 141);
  text-align: center;
}

.s3-sep-card {
  position: relative;
  width: 250px;
  margin: auto;
  text-align: center;
  padding: 30px 5px;
  right: 15px;
  overflow: visible;
}

/* Hexagons */

.hexagon-card1 {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: rgb(8, 122, 214);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-card2 {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: rgb(216, 82, 64);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-card3 {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: rgb(182, 202, 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-card4 {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: rgb(168, 0, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-card5 {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: rgb(4, 145, 98);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-card6 {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: rgb(19, 18, 121);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hex-img {
  height: 35px;
  width: 35px;
}

.s3-cards {
  padding-top: 60px; /* Add space to compensate for hexagon */
}

.s3-card1 {
  border-bottom: 2px rgb(8, 122, 214) solid;
}

.s3-card2 {
  border-bottom: 2px rgb(216, 82, 64) solid;
}

.s3-card3 {
  border-bottom: 2px rgb(182, 202, 2) solid;
}

.s3-card4 {
  border-bottom: 2px rgb(168, 0, 219) solid;
}

.s3-card5 {
  border-bottom: 2px rgb(4, 145, 98) solid;
}

.s3-card6 {
  border-bottom: 2px rgb(19, 18, 121) solid;
}

/* Section 4 */

/* banner */

.s4-banner {
  width: 100%;
  height: 30vh;
  background-image: url(./assets/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
}

.banner-content h5 {
  font-family: cursive;
  font-size: 40px;
}

.banner-content p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 5px;
  font-weight: lighter;
  font-size: 16px;
}

/* Section 5 */

.s5-container {
  width: 100%;
  height: 70vh;
  margin-top: 20vh;
  margin-left: 3vh;
}

.s5-title {
  font-size: 12px;
  color: #81878f;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.s5-subtitle {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 4px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.skills-para {
  margin-top: 5vh;
  font-family: monospace;
  font-size: 16px;
  color: #808488;
  text-align: left;
  margin-right: 5vh;
  line-height: 1.5rem;
}

/* Progress bars */

.progressbar-container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 5vh;
}

/* Progress 1 */

.progress-container1 {
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar1 {
  height: 7px;
  width: 75%;
  background-color: #116ed8;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

/* Progress 2 */

.progress-container2 {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar2 {
  height: 7px;
  width: 60%;
  background-color: #b30808;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

/* Progress 3 */

.progress-container3 {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar3 {
  height: 7px;
  width: 85%;
  background-color: #ebb319;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

/* Progress 4 */

.progress-container4 {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar4 {
  height: 7px;
  width: 90%;
  background-color: #5d0896;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

/* Progress 5 */

.progress-container5 {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar5 {
  height: 7px;
  width: 70%;
  background-color: #008d6a;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

/* Progress 6 */

.progress-container6 {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-bar6 {
  height: 7px;
  width: 80%;
  background-color: #110ead;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}

.pcls {
  width: 80%;
}

.pr-heads {
  font-size: 14px;
  font-family: cursive;
  margin-bottom: 5px;
}

/* Section 6 */

.section6 {
  height: 40vh;
  width: 100%;
  margin-top: 8vh;
  margin-left: 20px;
}

.edu-detail-container {
  height: auto;
  width: 95%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
}

.edu-details {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.edu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #eceff1;
  color: rgb(59, 54, 54);
  cursor: pointer;
}

.edu-content {
  display: none;
  padding: 15px;
  background-color: #f9f9f9;
  font-family: cursive;
  font-size: 14px;
  color: rgb(112, 108, 108);
}

.toggle {
  display: none;
}

.toggle:checked + .edu-title + .edu-content {
  display: block;
}

.toggle:checked + .edu-title .toggle-icon {
  display: none;
}

.toggle:checked + .edu-title .toggle-icon.hidden {
  display: inline;
}

.toggle-icon.hidden {
  display: none;
}

.toggle-icon {
  font-weight: bold;
}




/* Section 7 */

.pencil{
  height: 4vh;
  width:4vh;
  margin: 2px;
}

/* Circle */

.circle {
  height: 5vh;
  width: 8vh;
  /* border: 1px solid; */
  margin: 2vh 2vh;
  border-radius: 100%;
}

.circle1{
  background-color: rgb(47, 110, 228);
}

.circle2{
  background-color: rgb(214, 71, 71);
}

.circle3{
  background-color: rgb(204, 163, 50);
}

.circle4{
  background-color: rgba(133, 36, 197, 0.918);
}

.circle5{
  background-color: rgb(80, 184, 158);
}

/* circle end */

.section7 {
  height: 120vh;
  width: 100%;
  margin-top: 8vh;
  margin-left: 20px;
}

.exp-container{
  margin-top: 5vh;
  margin-right: 10vh;
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
}

.exp-cnt{
  display: flex;
  line-height: 1.5rem;
  gap: 2vh;
  height: 15vh;
  width: auto;
  width: auto;
  border: #e8eaec 1px solid;
}

.exp-card {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.exp-card h5{
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.exp-card h5 span{
  color: #78807e;
}

.exp-card p{
  font-size: 14px;
  font-family: cursive;
  color: #494d53;
}


/* Section 8 */

.section8 {
  height: 180vh;
  width: 100%;
  margin-top: 4vh;
  margin-left: 20px;
}

.work-titles{
  margin-top: 5vh;
  font-family: cursive;
  font-size: 18px;
  display: flex;
  gap: 2vh;
}

.work-titles:hover{
  cursor: pointer;
}

.work-img{
  width: 98vh;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.work-img img{
  margin-top: 5vh;
  height: 35vh;
  width: 45vh;
  opacity: 0.6;
}

.work-img img:hover{
  cursor: pointer;
  opacity: 2;
}

.lern-btn{
  margin-top: 25vh;
  height: 10vh;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #116ed8;
}

.lern-btn p{
 text-align: center;
 color: white;
}


/* Section 9 */

.section9 {
  height: 90vh;
  width: 100%;
  margin-left: 20px;
}

.lern-btn2{
  /* margin-top: -5vh; */
  height: 10vh;
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #116ed8;
}

.lern-btn2 p{
 text-align: center;
 color: white;
}

.blog-card-container{
  margin-top: 3vh;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 25px;
}

.blog-card{
  height: 50vh;
  width: 35vh;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  text-align: center;
}

.blog-card img{
  height: 25vh;
  width: 35vh;
}

.b-sub{
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5b616b;
  font-weight: 400;
}

.b-title{
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.b-content{
  font-size: 14px;
  font-family:cursive;
}


/* Section 10 */

.section10{
  height: 90vh;
  width: 100%;
  margin-left: 20px;
}

.contact-main{
  height: 40vh;
  width: 100vh;
  display: flex;
  justify-content: space-around;
}
/* left */

.contact-left{
  display: flex;
  flex-direction: column;
  line-height: 5rem;
}

.c-left-data{
  display: flex;
  margin-top: 5vh;
  justify-content: space-around;
  gap: 4vh;
}

.c-left-data img{
  height: 6vh;
  width: 6vh;
}

.c-left-data p{
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-right{
  display: flex;
  flex-direction: column;
}

/* right */

.contact-right{
  margin-top: 9vh;
  height: 30vh;
  width: 50vh;
  row-gap: 4vh;
}

.c-input {
  width: 100%;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  background-color: #fff;
}

.c-inputm{
  width: 100%;
  padding: 30px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  background-color: #fff;
}

.c-submit{

  height: 20vh;
  width: 25vh;
  padding: 20px;
  color: white;
  background-color: #116ed8;
  border-radius: 5px;
  border: 1px rgb(255, 252, 252) solid;
}